{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet aut dolorem dolores, dolorum ipsa
            laboriosam maiores mollitia nesciunt nostrum optio qui tempora vitae, voluptates voluptatibus voluptatum.
            Excepturi, officia.</p>
    </div>
{% endblock %}